# Vim swap files
*.swp

# Virtual environments
.venv
venv

# Pyenv local overrides
.python-version

# Python cache files
__pycache__/
*.py[cod]

# Build directories
build

# Ignore dev requirements files.
images/airflow/2.*/requirements-dev.txt
images/airflow/3.*/requirements-dev.txt

# Coverage files
.coverage
coverage.xml
.coverage.*

# MacOS
*.DS_Store

# Intellij
*.idea*

# Additional Added .gitignore
# Ignore any Airflow variables files (could contain sensitive values)
Airflow/variables/

# Ignore Airflow local dev log files
Airflow/logs/

# Ignore Airflow local .DS_Store
Airflow/dags/.DS_Store

#Python
__pycache__

.DS_Store

#ignore local dev 
.vscode

#ignore spice_rack that is mounted during testing
images/airflow/3.*/spice_rack/*
